@using SIMS.Core;
@page "/incidents"
@inject HttpClient Http

<h3>Incidents</h3>
@if (incidents == null)
{
    <p>Lade Daten...</p>
}
else
{
    <table>
        <tr>
            <th>ID</th>
            <th>Status</th>
            <th>Beschreibung</th>
        </tr>
        @foreach (var inc in incidents)
        {
            <tr>
                <td>@inc.Id</td>
                <td>@inc.Status</td>
                <td>@inc.Description</td>
            </tr>
        }
    </table>
}
@code {
    private List<Incident> incidents;

    protected override async Task OnInitializedAsync()
    {
      
        incidents = await Http.GetFromJsonAsync<List<Incident>>("/api/incidents");
    }
}
