@* <div class="sidebar bg-dark">
    <div class="sidebar-header p-3">
        <a class="navbar-brand text-light" href="/home">SIMS</a>
    </div> *@
    <div class="sidebar-header p-3">
  <svg width="20" height="40" viewBox="0 0 20 40" style="vertical-align:middle;">
    <polygon points="10,0 20,20 10,40 0,20" fill="#1ec61a" stroke="#146410" stroke-width="2"/>
  </svg>
  <a class="navbar-brand text-light" href="/home" style="margin-left:10px;">SIMS</a>
</div>

    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light" href="/home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light" href="/users">
                <span class="bi bi-person-fill"></span> Benutzerverwaltung
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light" href="/incidents">
                <span class="bi bi-list-ul"></span> Incidentverwaltung
            </NavLink>
        </div>
    </nav>

