         <div class="sidebar bg-dark">
    <div class="sidebar-header p-3">
        <a class="navbar-brand text-light" href="">SIMS</a>
    </div>

    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light" href="users">
                <span class="bi bi-person-fill"></span> Benutzerverwaltung
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-light" href="incidents">
                <span class="bi bi-list-ul"></span> Incidentverwaltung
            </NavLink>
        </div>
    </nav>
</div>
